@model EventZone.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    
    //userName
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    //password
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    //confirm password
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    
    //email
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    
    //date of birth
    <div class="form-group">
        @Html.LabelFor(model => model.UserDOB, 
            htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.UserDOB,
               new { htmlAttributes = new { 
                 @disabled = "disabled",
                 @readonly = "readonly",
                 @Value = "1/1/1990",
                 @class = "form-control"
                 
                 },
               })
        </div>
    </div>
    //gender
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Gender, 0) Male
            @Html.RadioButtonFor(m => m.Gender, 1) Female
         
        </div>
    </div>
    
    //fisrt name
    <div class="form-group">
            @Html.LabelFor(model => model.UserFirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserFirstName)
            </div>
     </div>
    
    //Last name
    
    <div class="form-group">
            @Html.LabelFor(model => model.UserLastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserLastName)
              
            </div>
     </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
  $(function () {
      $('#UserDOB').datetimepicker({
      defaultDate: '1-1-1990',
      format: 'L',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top'
    });
  });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
