@model EventZone.Models.RegisterViewModel
<div id="i_signup_section" class="tab-pane fade">
    <!-- bao toàn bộ chức năng SIGN UP -->
    <div class="my_function_cover f_sign_up">
        <div style="padding-top: 30px" class="panel-body">
            @using (Ajax.BeginForm("Register", "Account", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "OnSignUpRequestSucceeded",
            }, new { id = "registerPanelId" }))
            {
                @Html.AntiForgeryToken()
                var alertStyle = "";

                if (ViewData.ModelState == null || !ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    alertStyle = "display:none;";
                }
                <div id="alertPanelId"
                     class="alert alert-danger"
                     style='@alertStyle'>
                    @Html.ValidationSummary()
                </div>
                <div style="margin-bottom: 15px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @name = "username", placeholder = "username", id = "login-username" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div style="margin-bottom: 15px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "login-password", type = "password", name = "password", placeholder = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div style="margin-bottom: 15px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "d_login-re_password", type = "password", name = "password", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="d_optional_signup_cover">
                    <div class="d_optional d_left">
                        <div style="margin-bottom: 15px" class="input-group">
                            <div style="padding: 0;">
                                @Html.LabelFor(model => model.UserFirstName, new { @class = "col-md-2 control-label", @style = "text-color:black" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserFirstName)
                                    @Html.ValidationMessageFor(m => m.UserFirstName)
                                </div>

                            </div>
                        </div>
                        <div style="margin-bottom: 15px" class="input-group">
                            @Html.RadioButtonFor(m => m.Gender, 0) Male
                            @Html.RadioButtonFor(m => m.Gender, 1) Female
                            @Html.ValidationMessageFor(m => m.Gender)
                        </div>
                    </div>
                    <div class="d_optional d_right">
                        <div style="margin-bottom: 15px" class="input-group">
                            <div style="padding: 0;">
                                @Html.LabelFor(model => model.UserLastName, new { @class = "col-md-2 control-label", @style = "text-color:black" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserLastName)
                                    @Html.ValidationMessageFor(m => m.UserLastName)
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 15px" class="input-group">
                            <div class="input-daterange input-group" id="date">
                                @Html.TextBoxFor(model => model.UserDOB,
                            new
                            {
                                @class = "input-sm form-control",
                                @type = "date"
                            })
                                @Html.ValidationMessageFor(m => m.UserDOB)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group d_agree_policy">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" value="1">
                            Tôi đã đọc và đồng ý với các
                            <a href="policy.html" id="i_policy"><i>Điều khoản sử dụng</i></a>.
                        </label>
                    </div>
                </div>
                <div style="margin-top: 10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('#registerPanelId').submit(function (event) {
        @*Validate form.*@
        var isValidForm = $('#registerPanelId').validate().form();

        @*Form is invalid.*@
        if (!isValidForm) {

            @*Prevent this form from being submitted*@
            event.preventDefault();

            @*Display error panel*@
            $('#alertPanelId').show();

            return false;
        }

        return true;
    });

    function OnSignUpRequestSucceeded(data) {
        if (data.state === 1) {
            $('#myModal2').modal('toggle');
            alert("Thank for registering our system! We have sent you an welcome email! Return home to start looking for events.");
            $('#MenuLayout').load(location.href + "#MenuLayout");
        } else {
            $('#alertPanelId').empty();
            $('#alertPanelId').append("<p>" + data.message + "</p>");
            $('#alertPanelId').show();
        }
        console.log('This event is fired when a request has been sent to server successfully');
        console.log(data);
    }
</script>