@using EventZone.Models
@model SearchModel
@{
    ViewBag.Title = "SearchAdvance";
    List<Category> category = ViewData["Category"] as List<Category>;
}
<style>
    .pac-container {
        z-index: 2000;
    }
</style>
@using (Html.BeginForm("AdvanceSearch", "Search"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-info d_margin_top">
        <div class="panel-heading">
            <div class="panel-title">Advanced Search</div>
        </div>
        <div style="padding-top: 10px" class="panel-body">
            <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 100px">Criteria</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            @Html.EditorFor(m => m.keyword)
                        </td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d_checkbox" style="width: 200px;">
                                            <label><input type="checkbox" value="" id="i_chbox_All" class="item_checked"> All</label>
                                        </div>
                                    </td>
                                    @foreach (var item in @Model.Categories)
                                    {
                                        <td>
                                            <div class="d_checkbox">
                                                <label><input type="checkbox" value="@item.CategoryID" name="selectedCategory" class="item_checked"> @item.CategoryName</label>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>
                            @Html.TextBoxFor(m => m.location.LocationName, new { @placeholder = "", id = "AdvanceSearchLocation", @class = "form-control" })
                            @Html.HiddenFor(m => m.location.Latitude, new {id = "AdvLocationLat"})
                            @Html.HiddenFor(m => m.location.Longitude, new { id = "AdvLocationLng" })
                        </td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>
                            <table class="table table-responsive">
                                <tr>
                                    <td class="d_align_left">
                                        <div class="radio-inline">
                                            <label><input type="radio" name="datepick" checked="checked" value="0" onclick="hideDate()">All Time</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label><input type="radio" name="datepick" value="1" onclick="hideDate()">Today</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label><input type="radio" name="datepick" value="2" onclick="hideDate()">Next 3 days</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label><input type="radio" name="datepick" value="3" onclick="hideDate()">Next 7 days</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label><input type="radio" name="datepick" value="4" onclick="showDate()">Select date</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="AdvDate">
                                    <td>
                                        <div class="input-daterange input-group">
                                            @Html.TextBoxFor(m => m.startDateRange, new {@type = "date", @class = "input-sm form-control"})
                                            <span class="input-group-addon">to</span>
                                            @Html.TextBoxFor(m => m.finishDateRange, new {@type = "date", @class = "input-sm form-control"})
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="text-align: right; display: inline-flexbox" class="form-group">
                <div class="col-sm-2 controls" style="margin-top: 10px">
                    <a id="id-lookaround-btn" href="/LookAround/LookAround?" class="btn btn-success" onclick="shareLocation()"><span>Look around</span></a>
                </div>
                <div class="col-sm-2 controls" style="margin-top: 10px">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <div class="col-sm-2 controls" style="margin-top: 10px">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
                </div>
            </div>

        </div>
    </div>
}
<script src="~/Scripts/jquery-AdvanceSearch.js"></script>