@using EventZone.Models
@using EventZone.Helpers

@{

    List<ViewThumbEventModel> listEventThum = TempData["ListEventThumb"]as List<ViewThumbEventModel>;
    List<User> listFollowingUser = TempData["ListFollowing"] as List<User>;
    List<User> listFollower = TempData["ListFollower"] as List<User>;
    int countFollowingUser= listFollowingUser==null?0:listFollowingUser.Count;
    int countEvent = listEventThum==null?0:listEventThum.Count;
    int countFollower = listFollower == null ? 0 : listFollower.Count;
    
}

    <!-- ump_ đánh dấu CSS thuộc về USER MANAGE PROFILE -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0 d_ump_follow">
        <div id="result-list" class="panel-group d_follow_item_cover">
            <!--  -->
            <div class="panel panel-default">
                <div class="panel-heading d_panel_1">
                    <h4 class="panel-title">
                        <!-- fl_ đánh dấu CSS FOLLOW -->
                        <a href="#i_fl_event" data-toggle="collapse" data-parent="#result-list" class="" aria-expanded="true">
                            <div class="">Following Event (@countEvent)</div>
                        </a>
                    </h4>
                </div>
                <div id="i_fl_event" class="panel-collapse collapse in" aria-expanded="true">
                    @if (countEvent != 0)
                    {
                        foreach (var item in listEventThum)
                        {
                           
                                    <div class="d_each_event">
                                        <div class="d_thumb">
                                            <img src="@EventDatabaseHelper.Instance.GetImageByID(item.evt.Avatar).ImageLink">
                                        </div>
                                        <div class="d_info">
                                            <div class="d_title">
                                               @Html.ActionLink(@item.evt.EventName,"Details","Event",new{id=@item.evt.EventID},new{target="_blank"}) 
                                            </div>
                                            <div class="d_time_left">
                                            </div>
                                        </div>
                                    </div>
                               
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#i_fl_user" data-toggle="collapse" data-parent="#result-list" class="collapsed" aria-expanded="false">
                            <span class="xxx">Following User (@countFollowingUser)</span>
                        </a>
                    </h4>
                </div>
                <div id="i_fl_user" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    @if (listFollowingUser != null)
                    {
                        for (int i = 0; i < listFollowingUser.Count; i++)
                        {
                            User eachUser = listFollowingUser[i];

                            <div id="i_fl_event" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="tab-pane active d_events_cover">
                                    <div class="d_each_event">
                                        <div class="d_thumb">
                                            <img src="@EventDatabaseHelper.Instance.GetImageByID(eachUser.Avartar).ImageLink">
                                        </div>
                                        <div class="d_info">
                                            <div class="d_title">
                                                @Html.ActionLink(@eachUser.UserName, "Index", "User", new { userID = @eachUser.UserID }, new { target = "_blank" })
                                            </div>
                                            <div class="d_u_cate">
                                                
                                                <div class="d_fill_in">Number Event: <a href=""><i>@UserDatabaseHelper.Instance.CountOwnedEvent(eachUser.UserID)</i></a></div>
                                            </div>
                                            <div class="d_u_follower">
                                               
                                                <div class="d_fill_in">Follower: <a href=""><i>@UserDatabaseHelper.Instance.NumberFollower(eachUser.UserID)</i></a></div>
                                            </div>
                                            <div class="d_u_time">
                                                
                                                <div class="d_fill_in" id="email-display-@eachUser.UserID">Email: @eachUser.UserEmail</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#i_fling_user" data-toggle="collapse" data-parent="#result-list" class="collapsed" aria-expanded="false">
                            <span class="xxx">Followers(@countFollower)</span>
                        </a>
                    </h4>
                </div>
                <div id="i_fling_user" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    @if (listFollower != null)
                    {
                        for (int i = 0; i < listFollower.Count; i++)
                        {
                            User eachUser = listFollower[i];

                            <div id="i_fl_event" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="tab-pane active d_events_cover">
                                    <div class="d_each_event">
                                        <div class="d_thumb">
                                            <img src="@EventDatabaseHelper.Instance.GetImageByID(eachUser.Avartar).ImageLink">
                                        </div>
                                        <div class="d_info">
                                            <div class="d_title">
                                                @Html.ActionLink(@eachUser.UserName, "Index", "User", new { userID = @eachUser.UserID }, new { target = "_blank" })
                                            </div>
                                            <div class="d_u_cate">

                                                <div class="d_fill_in">Number Event: <a href=""><i>@UserDatabaseHelper.Instance.CountOwnedEvent(eachUser.UserID)</i></a></div>
                                            </div>
                                            <div class="d_u_follower">

                                                <div class="d_fill_in">Follower: <a href=""><i>@UserDatabaseHelper.Instance.NumberFollower(eachUser.UserID)</i></a></div>
                                            </div>
                                            <div class="d_u_time">

                                                <div class="d_fill_in" id="email-display-@eachUser.UserID">Email: @eachUser.UserEmail</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- All script here -->
    <!-- Default JQuery -->
    @*<script type="text/javascript" src="../Scripts/jquery-2.1.4.js"></script>*@
    <!-- Default Bootstrap -->
    @*<script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>*@

