@using EventZone.Models
@model EditUserModel
@{
    ViewBag.Title = "ManageProfile";
}
@{
    var user = Session["user"] as User;
    var task = TempData["ManageProfileTask"];
}

<center>
    <h2>ManageProfile</h2>
</center>
@Html.ValidationSummary()
@Html.ActionLink("UserInfo", "UserInfo", "User", new {id = @user.UserID}, null) |
@Html.ActionLink("Schedule", "Following", "User", null, new {title = "Schedule"})
@if (task == "UserInfo")
{
    @Html.Partial("_UserInfoPartial")
    ;
}
else if (task == "EditProfile")
{
    @Html.Partial("_EditProfilePartial", Model)
    ;
}