<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" type="text/css" href="~/Content/myCSS_topmenu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.smartmenus.bootstrap.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete"
            async defer></script>
     <!-- Plug in tạo Sub-menu -->
</head>
<body>
    <div id="MenuLayout">
        <nav class="navbar navbar-inverse d_topmenu_bg">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Brand -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Event Zone</a>
                        <ul class="dropdown-menu d_brand_menu">
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </li>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="width: 200px;">
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Food and Drink</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Arts</a></li>
                            <li><a href="#">Parties</a></li>
                            <li><a href="#">Sports and wellness</a></li>
                            <li><a href="#">Networking</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="input-group">
                    <form class="navbar-form navbar-left" role="search" action="@Url.Action("Search", "Search")" method="post">
                        <input type="text"
                               name="keyword"
                               class="form-control"
                               aria-label="Text input with segmented button dropdown"
                               placeholder="Search for event, channel or user"
                               value=""
                               style="width: 250px;">
                        <div class="input-group-btn">
                            <button id="i-seach" class="btn btn-default" type="submit" role="button">
                                <span class="glyphicon glyphicon-search white"></span>
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="modal" data-target="#myModal">
                                <a href="#" id="i_advanced_search"><span class="glyphicon glyphicon-chevron-down"></span></a>
                            </button>
                        </div>
                    </form>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["authenticated"] == null || Session["authenticated"].ToString().IsEmpty())
                        {
                            <li>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  &nbsp Create Event</button>
                            </li>
                            <li><a href="#" data-toggle="modal" data-target="#myModal2" id="i_signin_btn">Sign In</a></li>
                            <div class="modal fade" id="myModal2" role="dialog">
                                <div class="modal-dialog">
                                    @Html.Partial("_SignInSignUpPartial");
                                </div>
                            </div>
                        }
                        else
                        {
                            <li>
                                <form action="@Url.Action("Create", "Event")">
                                    <button type="submit" class="btn btn-default btn-sm"><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span>  &nbsp Create Event</button>
                                </form>
                            </li>
                            <li>
                                <img id="i_avatar" src="~/img/sample_thumb.jpg">
                                <div id="i_noti">
                                    <p>8</p>
                                </div>
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Hello " + @Session["userName"] + "!", "ManageProfile", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
                                <ul class="dropdown-menu sm-nowrap d_user_dropdown" role="group" aria-hidden="true" aria-expanded="false">
                                    <li>@Html.ActionLink("Manage Profile", "ManageProfile", "User", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                                    <li>@Html.ActionLink("Manage event", "ManageEvent", "User")</li>
                                    <li role="presentation" class="divider"></li>
                                    <li>@Html.ActionLink("Sign out", "Signout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            </li>
                        }
                    </ul>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        @Html.Action("SearchAdvance","Search");
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
