@model IEnumerable<EventZoneC.Models.Event>

@using EventZoneC.Models;
@using System.Data;
@using System.Data.Entity;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm())
    {
        EventZoneEntities1 db = new EventZoneEntities1();

    <p>
       
        Name event: @Html.TextBox("searchString") 
    </p>
        <p>
            Name user: @Html.TextBox("userName")
        </p>
        <p>
           Category: <select name="categoryName" id="listbox">
                @foreach (var item in db.Categories)
                {

                    <option value="@item.CategoryName">
                        @item.CategoryName
                    </option>
                }
            </select>
        </p>
        @*foreach (var item in db.Categories)
        {
            <td>
                @Html.CheckBox("CategoryID", new { value = item.CategoryID, @checked = true })
                @Html.LabelFor(model => item.CategoryName)
            </td>
        }*@

        <input type="submit" value="search" />
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventRegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privacy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvatarLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel.ChannelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventRegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Privacy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvatarLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Channel.ChannelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr>
}

</table>
