@model EventZone.Models.EventCreateViewModels
@{
    ViewBag.Title = "Create";
}
<h2>Create Event</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName)
                @Html.ValidationMessageFor(model => model.EventName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2 dateTimeSelector" })
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.StartDate,
               new
               {
                   htmlAttributes = new
                   {
                       disabled = "disabled",
                       @readonly = "readonly",
                       @Value = "1/1/1990",
                       @class = "form-control"

                   },
               })
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.EndDate,
               new
               {
                   htmlAttributes = new
                   {
                       disabled = "disabled",
                       @readonly = "readonly",
                       @Value = "1/1/1990",
                       @class = "form-control"

                   },
               })
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
           @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Privacy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Privacy)
                @Html.ValidationMessageFor(model => model.Privacy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

<script type="text/javascript">
  $(function () {
      $('#StartDate').datetimepicker({
      defaultDate: '1-1-1990',
      format: 'L',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top'
    });
  });
        @Scripts.Render("~/bundles/jqueryval")
</script>
}




