@model EventZone.Models.ViewThumbEventModel
@using EventZone.Models
@{ 
    var listEventThumb = ViewData["ListThumbEvent"] as List<ViewThumbEventModel>;
    long id = Model.eventId;
}


<div class="container-fluid d_card_container scrollbar d_scrollbar_style">
    <div class="d_each_event container-fluid">
        <div class="container-fluid d_event_basic_info">
            <div class="box m-flip">
                <!--  -->
               
                <div class="back">
                    <img src="@Model.avatar" class="d_thumb_blur">
                    <div class="d_btn_backside">

                        <a href="#" data-toggle="tooltip" title="Follow">
                            <div class="glyphicon glyphicon-star-empty" id="i_btn_bs_1"></div> <!-- bs: viết tắt của Backside -->
                        </a>
                        <a href="#" data-toggle="tooltip" title="Share">
                            <div class="glyphicon glyphicon-share-alt" id="i_btn_bs_3"></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="d_info_icon glyphicon glyphicon-font"></div> -->   <!-- có nên đưa Icon cho Title vào k? -->
            <div class="d_info d_event_name">
                @Html.ActionLink(Model.eventName, "Details", "Event", routeValues: new { id = @Model.eventId }, htmlAttributes: null)
            </div>
            <div class="glyphicon glyphicon-eye-open">
                <div>@Model.numberView
                </div>
            </div>
                <div class="d_event_time">
                    <div class="d_info_icon glyphicon glyphicon-time"></div>
                    <div class="d_info">
                        Từ @Model.StartTime đến @Model.EndTime
                    </div>
                </div>
                <div class="d_event_date">
                    <div class="d_info_icon glyphicon glyphicon-calendar"></div>
                    <div class="d_info">
                        Location
                        @foreach (var item in @Model.location)
                        {
                            <div>
                                @item.LocationName
                            </div>

                        }
                    </div>
                </div>

            </div>
    </div>


</div>
