@{
    var user = Session["user"] as EventZone.Models.User;
    
}
@if (Session["authenticated"] == null || Session["authenticated"].ToString().IsEmpty()) { 
<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create Event", "CreateEvent", "Event", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Sign in", "Signin", "Account", routeValues: null, htmlAttributes: new { returnUrl = @Request.Url.AbsoluteUri })</li>
</ul>
}else{
      
    <ul class="nav navbar-nav navbar-right">
        <li>
            <!-- Cụm Chức năng User sau khi đăng nhập -->
            <div class="d_user">
                <div class="d_user_avatar">
                    
                </div>
                <div class="dropdown d_user_name">
                    <a href="#">
                        <img src="~/img/default-avatar.jpg" height="20" width="20" />
                    </a>
                    @Html.ActionLink("Hello " + @Session["userName"] + "!", "ManageProfile", "User", routeValues: null, htmlAttributes: new { title = "Manage" })
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Manage Profile", "ManageProfile", "User", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        <li>@Html.ActionLink("Manage event", "MyEvent", "User")</li>
                        <li><a href="#">abc</a></li>
                        <li role="presentation" class="divider"></li>
                        <li>@Html.ActionLink("Sign out", "Signout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

}