@model EventZone.Models.ViewThumbEventModel
@using EventZone.Helpers

<!-- BOOTSTRAP social -->
<link href="~/Content/Home/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Home/bootstrap-social.css" rel="stylesheet" />
<!-- myCSS -->
<link href="~/Content/User/myCSS_u_m_p.css" rel="stylesheet" />

<!-- umpf_ đánh dấu CSS thuộc về USER MANAGE PROFILE > FOLLOW tab -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d_umpf_event">
        <!-- THUMBNAIL -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 d_event_thumbnail">
            <img src="@EventDatabaseHelper.Instance.GetImageByID(@Model.evt.Avatar).ImageLink" id="i_event_thumbnail">
        </div>
        <!-- DETAIL INFO -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 d_event_info">
            <!-- TITLE & INFO-->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"
                 id="i_event_title">
                <p>@Html.ActionLink(@Model.evt.EventName, "Details", "Event", new { id = @Model.evt.EventID }, null)</p>
                <!-- DATE TIME -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d_each_info">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-1 fa fa-list-ul">
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-10 col-lg-11 d_event_time">
                        in <i>@EventDatabaseHelper.Instance.GetEventCategory(Model.evt.EventID)</i>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 glyphicon glyphicon-time">
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-10 col-lg-11 d_event_time">
                        From @Model.evt.EventStartDate.DayOfWeek <span> @Model.evt.EventStartDate.ToShortTimeString() @Model.evt.EventStartDate.ToShortDateString()</span>
                        @if (Model.evt.EventEndDate != null && Model.evt.EventEndDate > Model.evt.EventEndDate)
                        {
                            <span><br />To   @Model.evt.EventEndDate.DayOfWeek</span> <span>@Model.evt.EventEndDate.ToShortTimeString() @Model.evt.EventEndDate.ToShortDateString()</span>
                        }
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 glyphicon glyphicon-map-marker">
                    </div>

                    <div class="col-xs-11 col-sm-11 col-md-10 col-lg-11 d_event_time">
                        @Model.location[0].LocationName
                    </div>

                    @if (Model.location.Count > 1)
                    {
                        for (int i = 1; i < Model.location.Count; i++)
                        {
                            <div class="col-xs-11 col-sm-11 col-md-10 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-1 d_event_time">
                                @Model.location[i].LocationName
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- BUTTONS -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 d_button_group">
                <a class="btn btn-block btn-social btn-dropbox btn-xs">
                    <i class="fa fa-thumbs-o-up"></i> @Model.numberLike
                </a>
                <a class="btn btn-block btn-social btn-dropbox btn-xs">
                    <i class="fa fa-thumbs-o-down"></i> @Model.numberDislike
                </a>
                <a class="btn btn-block btn-social btn-reddit btn-xs">
                    <i class="fa fa-star-o"></i> @Model.numberFollow
                </a>
                <a class="btn btn-block btn-social btn-facebook btn-xs">
                    <i class="fa fa-facebook"></i> Share
                </a>
                <a class="btn btn-block btn-social btn-google btn-xs">
                    <i class="fa fa-google-plus"></i> Share
                </a>
            </div>
        </div>
    </div>
