@model IEnumerable<EventZoneC.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript" defer="defer">
    @Html.Raw(ViewBag.StartupScript)
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @using (Html.BeginForm())
    {
        <p>
            Name user: @Html.TextBox("userName")
            <input type="submit" value="Search"/>
            </p>

    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvatarLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvatarLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => item.UserID)
                //<input type="text" name="userID"/>
                <input type="submit" value="SetMod"/>
            }
            @*@Html.ActionLink("SetMod", "SetMod", new { id = item.UserID })*@
        </td>
    </tr>
}

</table>
