@using EventZone.Helpers
@using EventZone.Models
@{
    var user = UserHelpers.GetCurrentUser(Session);

    
    List<EventZone.Models.Category> category = CommonDataHelpers.Instance.GetAllCategory();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event Zone</title>
    <!--Style-->
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/_Layout/_Layout.css" rel="stylesheet"/>

    <!--<link href="~/Content/Home/myCSS_index_2.css" rel="stylesheet"/>-->
    <style>
            .d_user_dropdown>li>a {
                padding: 0px;
            }
            @@font-face {
             src: url('~/fonts/fontawesome-webfont.eot') format('opentype');
            }
    </style>
    <!--Script-->
    <script src="~/Scripts/_Layout/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/_Layout/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/ErrorAlert.js"></script>
    <script src="~/Scripts/_Layout/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.ajaxform.js"></script>
    <script src="~/Scripts/_Layout/respond.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/_Layout/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/_Layout/jquery.smartmenus.js"></script>
    <script src="~/Scripts/_Layout/jquery.smartmenus.bootstrap.js"></script>
    <script src="~/Scripts/_Layout/enscroll-0.6.1.min.js"></script>
    <link href="~/Content/_Layout/nprogress.css" rel="stylesheet" />
    <script src="~/Scripts/_Layout/nprogress.js"></script>
    <link href="~/Content/Home/webColor.css" rel="stylesheet"/>
    <script src="~/Scripts/_Layout/_Layout.js"></script>

    <script>
        $(document).ready(function () {
            @if (TempData["errorTitle"] != null)
        {
            <text>
        errorShow('@TempData["errorTitle"]', '@TempData["errorMessage"]')
        </text>
        }
        })
    </script>
    <script>
        //check cookie
        $(document).ready(function () {
            @if (UserHelpers.GetCurrentUser(Session) == null) {
                if(Request.Cookies["userName"]!=null&&Request.Cookies["password"]!=null){
                    string userName= Request.Cookies["userName"].Value;
                    string password= Request.Cookies["password"].Value;
                    if (UserDatabaseHelper.Instance.ValidateUser(userName, password)) {
                        user = UserDatabaseHelper.Instance.GetUserByUserName(userName);
                          <text>
                            $.ajax({
                                url: "/Account/CheckCookie",
                                type: "POST",
                                dataType: "json",
                                success: function (data) {
                                    if (data.state == 0) {
                                        alert(data.message)
                                    } else if (data.state == 1) {
                                        /// window.location.reload();
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                    console.log(textStatus);
                                    console.log(errorThrown);
                                }
                            })
        </text>
                    }
                }
        }
        else if (user != null)
        {
            if (user.AccountStatus == EventZoneConstants.Lock) { 
                <text>
                $.ajax({
                    url: "/Account/Signout",
                    type: "POST",
                    dataType: "html",
                    success: function () {
                        location.reload();
                        errorShow("Locked Account", "Your account has been locked! Please contact with our support");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                })
                </text>
            }
        }
        })
    </script>

</head>
<body>
    @Html.Partial("_Error")
<!-- i_2_ đánh dấu CSS Index_2.html -->
<!-- TOP MENU -->
<nav class="navbar navbar-fixed-top d_topmenu_bg">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Brand -->
            <li class="d_fix_width dropdown">
                <a href="/Home/Index" id="i_brand">Event Zone</a>
                <ul class="dropdown-menu d_brand_menu">
                    <li>
                        <a href="/Home/Policy">Policy</a>
                    </li>
                    <li>
                        <a href="/Home/Help">Help</a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="i_drdn_cate">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="d_drop_cate" style="width: 200px;">
                        @if (category != null)
                        {
                            foreach (var item in category)
                            {
                                <li>
                                    <a href="/Search/CategorySearch?categoryid=@item.CategoryID">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            </ul>
            @Html.Action("Search", "Search")
            <ul class="nav navbar-nav navbar-right" id="SignUl">
                @if (user == null)
                {
                    <li>
                        <button data-toggle="modal" data-target="#myModal2" class="btn btn-default btn-sm d_btn_create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  &nbsp Create Event</button>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal2" id="i_signin_btn" onclick="clearError()">Sign In</a>
                    </li>
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="panel-title">Welcome to Event Zone</div>
                                </div>
                                <div class="panel-body">
                                    <div class="d_style_of_tabs">
                                        <ul class="nav nav-tabs">
                                            <!-- áp dụng Tab lên thanh Nút chức năng -->
                                            <li class="d_signin_tab active">
                                                <a data-toggle="tab" href="#i_signin_section" id="i_signin_tab" onclick="clearError()">Sign In</a>
                                            </li>
                                            <li class="d_signup_tab">
                                                <a data-toggle="tab" href="#i_signup_section" id="i_signup_tab" onclick="clearError()">Sign Up</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            @Html.Action("SignIn", "Account")
                                            @Html.Action("SignUp", "Account")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Action("ForgotPassword", "Account")
                }
                else
                {
                    <li>
                        <form action="@Url.Action("Create", "Event")">
                            <button type="submit" class="btn btn-default btn-sm d_btn_create"><span class=" glyphicon glyphicon-plus" aria-hidden="true"></span>  &nbsp Create Event</button>
                        </form>
                    </li>
                    <li id="notificationList" onclick="displayNoti()">
                        <img id="i_avatar" src="@EventDatabaseHelper.Instance.GetImageByID(@user.Avartar).ImageLink">

                        @if (NotificationDataHelpers.Instance.CountTotalNewNotification(user.UserID) > 0)
                        {
                            <div id="i_noti">
                                @NotificationDataHelpers.Instance.CountTotalNewNotification(user.UserID)
                            </div>
                        }
                        <ul class="dropdown-menu sm-nowrap d_user_dropdown" id="notificationUl" role="group" aria-hidden="true" aria-expanded="false">
                            @if (NotificationDataHelpers.Instance.GetUserNotification(user.UserID, false).Count > 0)
                            {

                                List<NotificationChange> listNewNotification = NotificationDataHelpers.Instance.RemoveDupilicateNotify(NotificationDataHelpers.Instance.GetUserNotification(user.UserID, false), user.UserID);

                                for (int i = listNewNotification.Count - 1; i >= 0; i--)
                                {
                                    NotificationChange item = listNewNotification[i];
                                    int notiType = NotificationDataHelpers.Instance.GetNotificationObjectByID(item.NotificationObjectID).Type;
                                    if (notiType == EventZoneConstants.FollowingUserAddNewEvent)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Event", new {id = item.EventID})"><b>@UserDatabaseHelper.Instance.GetUserDisplayName(item.ActorID)</b> add a new event</a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    else if (notiType == EventZoneConstants.CommentNotification)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Event", new {id = item.EventID})">
                                                <b>@UserDatabaseHelper.Instance.GetUserDisplayName(item.ActorID)</b>
                                                @if (EventDatabaseHelper.Instance.GetUniqueUserComment(item.EventID).Count > 1)
                                                {
                                                    <text>
                                                        and @EventDatabaseHelper.Instance.GetUniqueUserComment(item.EventID).GetRange(1, EventDatabaseHelper.Instance.GetUniqueUserComment(item.EventID).Count - 1).Count other peopel comment on a post you are following
                                                    </text>


                                                }
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    else if (notiType == EventZoneConstants.NewFollower)
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "User")">You Have new @NotificationDataHelpers.Instance.GetNewUserFollowNotify(item.ActorID, user.UserID, false).Count follower(s)</a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    else if (notiType == EventZoneConstants.RequestUploadImage)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Event", new {id = item.EventID})">@UserDatabaseHelper.Instance.GetUserDisplayName(item.ActorID) request add images to your event</a>
                                            @listNewNotification.RemoveAll(o => o.EventID == item.EventID && o.ActorID == item.ActorID && o.NotificationObjectID == notiType)
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    else if (notiType == EventZoneConstants.EventHasBeenLocked)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Event", new {id = item.EventID})">Your event @EventDatabaseHelper.Instance.GetEventByID(item.EventID).EventName has been locked</a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    else if (notiType == EventZoneConstants.EventHasBeenUnLocked)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Event", new {id = item.EventID})">Good new! Your event @EventDatabaseHelper.Instance.GetEventByID(item.EventID).EventName has been unlocked</a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    else if (notiType == EventZoneConstants.ReportNotification)
                                    {

                                        <li>
                                            <a href="@Url.Action("Details", "Event", new {id = item.EventID})">
                                                Your event has been reported by <b>@UserDatabaseHelper.Instance.GetUserDisplayName(item.ActorID)</b>
                                                @if (EventDatabaseHelper.Instance.GetEventReport(item.EventID, EventZoneConstants.Pending).Count > 1)
                                                {
                                                    <text>
                                                        and @EventDatabaseHelper.Instance.GetEventReport(item.EventID, EventZoneConstants.Pending).GetRange(1, EventDatabaseHelper.Instance.GetEventReport(item.EventID, EventZoneConstants.Pending).Count - 1).Count other users </text>}
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" class="has-submenu" aria-haspopup="true" aria-expanded="false">
                            @user.UserName <span class="caret"></span></a>
                        <ul class="d_drop_user" role="group" aria-hidden="true" aria-expanded="false">

                            <li>
                                <a href="@Url.Action("Index", "User")">My Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Event", "User")">My Events</a>
                            </li>

                            <li>@Html.ActionLink("Sign out", "Signout", "Account", null, new {id = "SignOutLink"})</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

    <div class="d_white_bg"></div>
<div class="body-content">
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete"
            async defer></script>
    @RenderBody()
</div>
<script>
    function clearError() {
        $("#error-modal").modal('hide');
        $('#policyError').hide();
        $(".field-validation-error").empty();
    }
</script>
<script>

    $('#notificationList').on('click', function (e) {
        e.stopPropagation();
        document.getElementById("notificationUl").style.display = "block";
    });

    $(document).on('click', function (e) {
        document.getElementById("notificationUl").style.display = "none";
        // Do whatever you want; the event that'd fire if the "special" element has been clicked on has been cancelled.
    });
</script>
    <script>
        $(document).ready(function () {
            NProgress.start();

            // Increase randomly
            var interval = setInterval(function () { NProgress.inc(); }, 1000);

            // Trigger finish when page fully loaded
            jQuery(window).load(function () {
                clearInterval(interval);
                NProgress.done();
            });

            // Trigger bar when exiting the page
            jQuery(window).unload(function () {
                NProgress.start();
            });
            $('.scroll-content').enscroll({

                // a configuration property
                showOnHover: true,
                easingDuration:200,
                // another configuration property
                verticalScrolling: true,
                horizontalScrolling: true,
                horizontalTrackClass: 'vertical-track',
                horizontalHandleCalss: 'vertical-hanldle',
                verticalTrackClass: 'vertical-track',
                verticalHandleCalss: 'vertical-hanldle'

                // ... more configuration properties ...
            });
            $(".scroll-content").width('auto');
        })
    </script>
@RenderSection("scripts", false)
</body>
</html>