
@using EventZone.Models

@{
    ViewBag.Title = "LookAround";
}
@{

    var nearlyEventPlace = ViewData["nearlyEventPlace"] as List<EventPlace>;
    var nearlyEvent = ViewData["nearlyEvent"] as List<Event>;
    var nearlyLocation = ViewData["nearlyLocation"] as List<Location>;
    var curr = ViewData["currentLocation"] as Location;
    var listOfPlace = ViewData["listLocation"] as List<Location>;
}
@{
    ViewBag.Title = "LookAround";
}


<h2>LookAround</h2>

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 500px;
        width: 500px;
    }
</style>


<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 500px;
        width: 500px;
    }
</style>
<div id="id-place-detail">
    <div class="right-content">
        <h3><span id="id-name-place"></span></h3>
        <div id="id-list-event-in-place" class="blog-landing">
            @Html.Partial("_ViewPlaceInLocation")
        </div>
    </div>
    <div id="map" class="right-content"></div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer>
</script>
<script>
var searchDetailModule = (function () {
        var _data = {};
        var _name = {};

        loadEventInPlace = function (index, placeId, placeName) {
            if (typeof (_data[index]) === 'undefined') {
                // call Ajax
                $.ajax({
                    url: "/LookAround/showEventInLocation/",
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        id: placeId
                    },
                    success: function (data) {
                        //console.log(data);
                        if (typeof (data) === 'undefined' || data == null || data == "null") {
                            console.log(data);
                        }
                        else {
                            $("#id-list-event-in-place").html("");
                            $("#id-name-place").html("");
                            _data[index] = data;
                            _name[index] = placeName;
                            $("#id-list-event-in-place").append(_data[index]);
                            $("#id-name-place").html(placeName);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }
            else {
                $("#id-list-event-in-place").html("");
                $("#id-name-place").html("");
                $("#id-list-event-in-place").append(_data[index]);
                $("#id-name-place").html(_name[index]);

            }
        };

        setData = function (index, data) {
            _data[index] = data;
        };

        setname = function (index, name) {
            _name[index] = name;
        }
        return {
            loadEventInPlace: loadEventInPlace,
            setData: setData,
            setname: setname
        }
    })();

    //=================================================================================



    var map;
    var infoWindow;
    var index = 0;
    var listPlace;

    //function post(path, params, method) {
    //    method = method || "post"; // Set method to post by default if not specified.

    //    // The rest of this code assumes you are not using a library.
    //    // It can be made less wordy if you use one.
    //    var form = document.createElement("form");
    //    form.setAttribute("method", method);
    //    form.setAttribute("action", path);

    //    for (var key in params) {
    //        if (params.hasOwnProperty(key)) {
    //            var hiddenField = document.createElement("input");
    //            hiddenField.setAttribute("type", "hidden");
    //            hiddenField.setAttribute("name", key);
    //            hiddenField.setAttribute("value", params[key]);

    //            form.appendChild(hiddenField);
    //        }
    //    }

    //    document.body.appendChild(form);
    //    form.submit();
    //}




    function initMap() {

        var myLatLng = new google.maps.LatLng('@curr.Latitude', '@curr.Longitude');

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: myLatLng
        });
        var image = new google.maps.MarkerImage(
            "../img/currentMarker.png",
            null, /* size is determined at runtime */
            null, /* origin is 0,0 */
            null, /* anchor is bottom center of the scaled image */
            new google.maps.Size(25, 40)
        );  

       
        var currentMaker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            title: 'Your current position!'
        })



        @foreach (var item in nearlyLocation)
        {
            <text>
            index = index + 1;
            (function(index){
                var otherMaker = new google.maps.Marker({
                    position: new google.maps.LatLng('@item.Latitude', '@item.Longitude'),
                    map: map
                });
                var infoOther = new google.maps.InfoWindow({
                    content: '@item.LocationName'
                });
                google.maps.event.addListener(otherMaker, 'mouseover', function () {
                    infoOther.open(map, otherMaker);
                });
                google.maps.event.addListener(otherMaker, 'mouseout', function () {
                    infoOther.close();
                });
                google.maps.event.addListener(otherMaker, 'click', function () {
                    searchDetailModule.loadEventInPlace(index, '@item.LocationID', '@item.LocationName');
                });

            })(index);

        </text>
        }

        searchDetailModule.setData(0, $("#id-list-event-in-place").html());
        searchDetailModule.setname(0, $("#id-name-place").html());
    }

</script>

