@model EventZone.Models.ViewDetailEventModel
@using EventZone.Models
@using EventZone.Helpers
@{
    User user = Session["User"] as User;
    var task = ViewData["EventDetailTask"];
    int userLikeEvent = Model.FindLike.Type;
    int numberLike = Model.NumberLike;
    int numberDislike = Model.NumberDisLike;
    int numberFollow = Model.NumberFowllower;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/Event/perfect-scrollbar.css" rel="stylesheet" />
<!-- <link rel="stylesheet" type="text/css" href="~/Content/myCSS_chung.css">  CSS của riêng mình, có kèm OurSource -->
<link href="~/Content/Event/Details.css" rel="stylesheet" />
  <!-- CSS của riêng mình, có kèm OurSource -->
<!-- Bao phần show Các Tab chức năng -->
<div class="d_khung_nen row">
    <!-- khung nền cố định nằm ở lớp dưới, căn giữa lớp trên -->
    <div class="d_function_cover">
        <div class="d_info_container d_deco1 col-md-8">

            <!-- Nav tabs BOOTSTRAP -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#i_event_info" aria-controls="i_event_info" role="tab" data-toggle="tab">Event info</a></li>
                <li role="presentation">
                    <a href="#i_gallery" aria-controls="i_gallery" role="tab" data-toggle="tab">
                        @if (Model.eventImage == null)
                        {
                            <p>Gallery(0)</p>
                        }
                        else
                        {
                            <p>Gallery(@Model.eventImage.Count)</p>
                        }

                    </a>
                </li>

                <li role="presentation">
                    <a href="#i_video" aria-controls="i_video" role="tab" data-toggle="tab" onlick="autocomple()">
                        @if (Model.eventVideo == null)
                        {
                            <p>Video(0)</p>
                        }
                        else
                        {
                            <p>Video(@Model.eventVideo.Count)</p>
                        }
                    </a>
                </li>
            </ul>

            <!-- Tab panes BOOTSTRAP -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="i_event_info">
                    <!-- Khung chứa Basic info với Thumb, tên, ngày tạo, ai tạo~. -->
                    @if (task == "EventDetail")
                    {
                        <div class="d_info">
                            <div class="d_thumb_container">
                                <img src="@Model.eventAvatar" id="i_info_thumb">
                            </div>
                            <!-- <div class="d_info_icon glyphicon glyphicon-font"></div> -->   <!-- có nên đưa Icon cho Title vào k? -->
                            <div id="i_event_name">
                                @Model.eventName
                            </div>
                            <div class="d_event_time">
                                <div class="d_info_icon glyphicon glyphicon-time"></div>
                                <div class="">
                                    @Model.StartTime
                                </div>
                            </div>
                            <div class="d_event_date">
                                <div class="d_info_icon glyphicon glyphicon-calendar"></div>
                                <div class="">
                                    @Model.EndTime
                                </div>
                            </div>
                            <div class="d_event_location">
                                <div class="d_info_icon glyphicon glyphicon-map-marker"></div>
                                @if (Model.eventLocation != null)
                                {
                                    foreach (var item in Model.eventLocation)
                                    {
                                        <div>
                                            @item.LocationName;
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="d_button_group">
                                <button id="btn-like" class="glyphicon glyphicon-thumbs-up"></button><span id="like-count">@numberLike</span>
                            <br><button id="btn-dislike" class="glyphicon glyphicon-thumbs-down"></button><span id="dislike-count">@numberDislike</span>
                            <br><button id="btn-follow"><span id="follow-status">Follow</span></button><span id="follow-count">@numberFollow</span>

                            <div id="fb-root"></div>
                            <div class="fb-share-button" data-href="http://www.your-domain.com/your-page.html" data-layout="button"></div>
                  
                        </div>
                        <div class="d_des">
                            @Model.eventDescription
                            @if (Model.isOwningEvent) { 
                            @Html.ActionLink("Edit", "Edit", "Event", routeValues: new { id = @Model.eventId }, htmlAttributes: null)
                            }
                            
                        </div>
                    }
                    else
                    {
                        @Html.Partial("_EditEventPartial")
                    }
                </div>

                <!-- Khung chứa ảnh cho Gallery -->
                <div role="tabpanel" class="tab-pane scrollbar" id="i_gallery">
                    <div>
                        <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                        <div class="fileUpload btn btn-primary">
                            <span>Upload</span>
                            <input id="uploadBtn" type="file" class="upload" />
                        </div>
                    </div>
                    <div class="container-fluid d_thumbs_cover">
                        <div>
                            @if (Model.eventImage != null)
                            {
                                foreach (var item in Model.eventImage)
                                {
                                    <div class=" col-md-4 thumb">
                                        <a class="thumbnail" href=@item.ImageLink>
                                            <img class="img-responsive" src="@item.ImageLink" alt="">
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <!-- Khung chứa Video -->
                <div role="tabpanel" class="tab-pane" id="i_video">
                    <div id="result-list" class="panel-group d_video_item_cover">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a href="#i_event_video" data-toggle="collapse" data-parent="#result-list">
                                        <div class="xxx">Video sự kiện (12)</div>
                                    </a>
                                </h4>
                            </div>
                            <div id="i_event_video" class="panel-collapse collapse">
                                <div class="container-fluid d_video_cover">
                                    <div class="panel-body">
                                        <div class="container-fluid d_thumbs_video_cover">
                                            <div>

                                                @if (Model.eventVideo != null)
                                                {
                                                    foreach (var item in Model.eventVideo)
                                                    {
                                                        var link= item.VideoLink.ToString().Replace("watch?v=","embed/");
                                                        <div class=" col-md-4 thumb">
                                                            <embed width="420" height="315"
                                                                   src="@link">
                                                        </div>
                                                    }
                                                }
                                                <div class=" col-md-4 thumb">
                                                    <a class="thumbnail" href="#">
                                                        Add a video
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#i_streaming_link" data-toggle="collapse" data-parent="#result-list">
                                        <div class="xxx">Link xem sự kiện trực tiếp (8)</div>
                                    </a>
                                </h4>
                            </div>
                            <div id="i_streaming_link" class="panel-collapse collapse">
                                <div class="container-fluid d_video_cover">
                                    <div class="panel-body">
                                        <div class="container-fluid d_thumbs_video_cover">
                                            <div>
                                                x
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d_map d_deco1 col-md-4">
            <!-- Khung chứa Map -->
            <!-- Nav tabs BOOTSTRAP -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#i_map" aria-controls="i_map" role="tab" data-toggle="tab">Map</a>
                </li>
            </ul>

            <!-- Tab panes BOOTSTRAP -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="i_map">
                    <div id="map-container"></div>
                </div>
            </div>
        </div>

        <div class="d_comment_report d_deco1 col-md-4">
            <!-- Khung chứa Comment, Report -->
            <!-- Nav tabs BOOTSTRAP -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#i_comment" aria-controls="i_comment" role="tab" data-toggle="tab" id="i_comment_btn">Comment (23)</a>
                </li>
                <li role="presentation">
                    <a href="#i_report" aria-controls="i_report" role="tab" data-toggle="tab">Report</a>
                </li>
            </ul>

            <!-- Tab panes BOOTSTRAP -->
            <div class="tab-content">
                @Html.Partial("_CommentPartial",@Model.eventComment)
                <div role="tabpanel" class="tab-pane" id="i_report"></div>
            </div>
        </div>
    </div>
</div>


<!-- All script here -->
<script type="text/javascript" src="~/Scripts/Event/perfect-scrollbar.jquery.js"></script> <!-- Plugin thay Style Scrollbar -->
<script type="text/javascript" src="~/Scripts/Event/jquery.transform.js"></script> <!-- Plugin basic Animation 2d -->
<!-- <script type="text/javascript" src="js/myJS_chung.js"></script> JS của riêng mình, có kèm OutSource -->
<script type="text/javascript" src="~/Scripts/Event/Details.js"></script> <!-- JS thuộc trang -->
<script>
    //facebook share
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>
    //upload file
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };

</script>

<script>
    var state = 0;
    var followState = 0;
    //dislike script
    $(document).ready(function () {
        $("#btn-dislike").click(function () {
            @if (user == null) {
               <text>
            alert('Require Signin :((');
            </text>
           }
           else {
               <text>
            $.ajax({
                type: "post",
                url: "/User/Dislike",
                cache: false,
                data: { eventId: '@Model.eventId' },
                success: function (data) {
                    state = data.state;
                    if (data.success == true) {
                        if (state == 1) {
                            $('#dislike-count').text(parseInt($('#dislike-count').text()) + 1);
                            $('#like-count').text(parseInt($('#like-count').text()) - 1);
                            state=-1;
                        } else if (state == 0) {
                            $('#dislike-count').text(parseInt($('#dislike-count').text()) + 1);
                            state=-1;
                        }
                    }
                },
                error: function () {
                    alert('Error while request..');
                }

            })
            </text>
           }
        });

        $("#btn-like").click(function () {
            @if (user == null) {
               <text>
            alert('Require Signin :((');
            </text>
           }
           else {
               <text>
            $.ajax({
                type: "post",
                url: "/User/Like",
                cache: false,
                data: { eventId: '@Model.eventId' },
                success: function (data) {
                    state=data.state;
                    if (data.success == true) {
                        if (state == -1) {
                            $('#like-count').text(parseInt($('#like-count').text()) + 1);
                            $('#dislike-count').text(parseInt($('#dislike-count').text()) - 1);
                            state = 1;
                        } else if (state == 0) {
                            $('#like-count').text(parseInt($('#like-count').text()) + 1);
                            state = 1;
                        }
                    }
                },
                error: function () {
                    alert('Error while request..');
                }

            })
               </text>
           }
        });

        if (followState == 1) {
            $('#follow-status').text("Following");
        }
        $("#btn-follow").click(function () {
           @if (user == null) {
               <text>
               alert('Require Signin :((');
               </text>
           }
           else {
               <text>
               $.ajax({
                   type: "post",
                   url: "/User/Follow",
                   cache: false,
                   data: { eventId: '@Model.eventId' },
                   success: function (data) {
                       //followState=data.state;
                       console.log("asfa");
                       if (data.success == true) {
                           console.log(followState)
                           if (followState == 0) {
                               console.log("erhe");
                               $('#follow-count').text(parseInt($('#follow-count').text()) + 1);
                               $('#follow-status').text("Following");
                               followState = 1;
                           } else if (followState == 1) {
                               $('#follow-count').text(parseInt($('#follow-count').text()) - 1);
                               $('#follow-status').text("Follow");
                               followState = 0;
                           }
                       }
                   },
                   error: function () {
                       alert('Error while request..');
                   }

               })
               </text>
           }
        });



    })
</script>

<script>
    var index = 0;
    /*** OUTSOURCE: Google Map ***/
    /*** OUTSOURCE: Google Map ***/
    function init_map() {
        var var_location = new google.maps.LatLng(21.013629, 105.526556);


        var var_mapoptions = {
            center: var_location,
            zoom: 7
        };
        var var_map = new google.maps.Map(document.getElementById("map-container"),
           var_mapoptions);
        @if(Model.eventLocation!=null){
            foreach (var item in @Model.eventLocation) {
                <text>
        index = index + 1;
        (function (index) {
            console.log('@item.Latitude');
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng('@item.Latitude', '@item.Longitude'),
                map: var_map
            });
            var infoMarker = new google.maps.InfoWindow({
                content: '@item.LocationName'
            });
            marker.setMap(var_map);
            google.maps.event.addListener(marker, 'mouseover', function () {
                infoMarker.open(var_map, marker);
                console.log('Here to end 2');
            });
            google.maps.event.addListener(marker, 'mouseout', function () {
                infoMarker.close();
                console.log('Here to end 3');
            });
            console.log('Here to end');

        })(index);
        </text>
            }
        }
    }
    google.maps.event.addDomListener(window, 'load', init_map);
    //document.addEventListener('DOMContentLoaded', init_map);
    /*** End of OUTSOURCE: Google Map ***/
</script>