@model EventZone.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventRegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventRegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvatarLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvatarLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Channel.ChannelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Channel.ChannelName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
